@model Trendyol_Integration.ViewModels.CreateProductModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("CreateProceed", "Products",FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.product.CargoCompanyId)
        @Html.DropDownListFor(model => model.product.CargoCompanyId, new SelectList(Model.providers, "Id", "Name"), new { @class = "form-control" })
    </div>
    <div class="select">
        <div class="form-group">
            @Html.LabelFor(model => model.product.Category)
            @Html.HiddenFor(model => model.product.Category.CategoryId, new { @class = "category-input" })
            <select class="category-select form-control" name="categories" id="0">
                <option disabled selected> Kategori Seçiniz </option>
                @foreach (var item in Model.categories)
                {
                    <option value=@item.CategoryId>@item.CategoryName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
