@model IEnumerable<Trendyol_Integration.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Ürünler</h1>
<div>
    @ViewBag.Error
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ürün Tablosu</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-primary">Ürün Adı</th>
                        <th>Barkod</th>
                        <th>Ana Ürün Kodu</th>
                        <th>Marka</th>
                        <th>Stok Miktarı</th>
                        <th>Liste Fiyatı</th>
                        <th>Satış Fiyatı</th>
                        <th>Ürün Durumu</th>
                        <th>Detaylar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="text-primary">Ürün Adı</th>
                        <th>Barkod</th>
                        <th>Ana Ürün Kodu</th>
                        <th>Marka</th>
                        <th>Stok Miktarı</th>
                        <th>Liste Fiyatı</th>
                        <th>Satış Fiyatı</th>
                        <th>Ürün Durumu</th>
                        <th>Detaylar</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Title</td>
                            <td>@product.Barcode</td>
                            <td>@product.ProductMainId</td>
                            <td>@product.BrandName</td>
                            <td>@product.Quantity</td>
                            <td>@product.ListPrice₺</td>
                            <td>@product.SalePrice₺</td>
                            <td class=@(product.Status=="Onaylandı"||product.Status=="Başarılı"?"text-success":"text-danger")>@product.Status</td>
                            <td>@Html.ActionLink("Detaylar", "Details", new { id = product.ProductId }, new { @class = "btn btn-primary btn-block" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

